h1 {
    font-size: 3rem;
    font-weight: 700;
}
h2 {
    font-size: xx-large;
    font-weight: 700;
}
h3 {
    font-size: 1rem;
    font-weight: 650;
    color: green;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}