$transitions: all 0.3s transition;

.main {
  position: relative;
  top: 10rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .faq--body {
    width: 40%;
    margin: 0.5rem;
    .faq--body:active {
      transition: $transitions;
    }
    .faq--card {
      border-radius: 0.2rem;
      background: gray;
      padding: 1rem;
      margin-top: 0.4rem;
    }
    .faq--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: capitalize;
      color: white;
      font-size: 1rem;
      font-weight: 400;
    }
    .faq--res {
      padding-top: 0.6em;
      transition: $transitions;
    }
  }
  // .faq--header {
  //   animation-duration: 0.5sec;
  //   animation-name: faqFade;
  //   animation-fill-mode: backwards;
  // }
  // @keyframes faqFade {
  //   0% {
  //     opacity: 0;
  //   }
  //   100% {
  //     opacity: 1;
  //   }
  // }
  // .faq--header.pop {
  //   animation-name: faqPop;
  //   animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  // }
  // @keyframes faqPop {
  //   0% {
  //     opacity: 0;
  //     transform: scale(0.5, 0.5);
  //   }
  //   100% {
  //     opacity: 1;
  //     transform: scale(1, 1);
  //   }
  // }
  // .faq--header:nth-child(1) {
  //   animation-delay: 2sec;
  // }
}

.dropdown_menu {
  position: absolute;
  // top: 100%;
  left: 40%;
  width: 100%;
  perspective: 1000px;
  display: none;
}
.dropdown:hover .dropdown_menu--animated {
  display: block;
}
.dropdown_menu-6 {
  animation: growDown 350ms ease-in-out forwards;
  transform-origin: top center;
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.07);
  }
  100% {
    transform: scaleY(1);
  }
}
