$transition: all 0.3s linear;


.primary-btn {
  align-items: center;
  width: auto;
  height: 2rem;
  padding: 0 0.4rem 0 0.4rem;
  border-radius: 1rem;
  font-weight: 500;
  background-color: transparent;
  transition: $transition;
}
.primary-btn:hover {
  border: solid 0.01rem white;
  background-color: #ece2e2;
  color: white;
}
.secondary-btn {
  transition: $transition;
}