.food-card {
  border: black;
  background: white;
  color: gray;
  width: 70%;
  border-radius: 0 1.5rem;
  padding: 0 0 1.5rem 0;
  margin: 0.5rem;
  h2 {
    position: absolute;
    color: white;
  }
  h3 {
    text-align: right;
  }
  img {
    height: 37rem;
    width: 100%;
    border-radius: 0 1.5rem;
  }
}
.receipe-container-lg {
display: none;
}
@media screen and (max-width: 600px) {
  .card-container {
    display: flex;
    flex-direction: column;
    .food-card {
      width: 100%;
      img {
        height: 60%;
      }
    }
    .receipe-container-lg {
        display: block;
    }
    .receipe-container {
        display: none;
    }
    h2 {
        font-size: larger;
    }
  }
}
