$transition: all 0.2s linear;

.food-card {
  border: #a19c9c;
  background: transparent;
  color: #dad3d3;
  width: 63%;
  border-radius: 0 1.5rem;
  padding: 0 0 0.5rem 0;
  margin: 0.5rem;
  margin-left: 3rem;
  h2 {
    position: relative;
    top: 5%;
    color: white;
    padding-left: 2%;
  }
  h3 {
    text-align: right;
  }
  .img-holder {
    display: flex;
    margin-top: -2.7rem;
    align-items: center;
    justify-content: center;
    height: 43rem;
    width: 100%;
  }
  // .img-holder:hover {
  //   opacity: 95%;
  //   transition: $transition;
  // }
  img {
    border-radius: 0 1.5rem;
    height: 99%;
    width: 99%;
    transition: $transition;
  }
  img:hover {
    border-radius: 0 1.5rem;
    height: 100%;
    width: 100%;
    transition: $transition;
  }
}
.receipe-container-lg {
  display: none;
}
@media screen and (max-width: 600px) {
  .card-container {
    display: flex;
    flex-direction: column;
    .food-card {
      margin-left: 0rem;
      width: 100%;
      img {
        height: 60%;
      }
    }
    .receipe-container-lg {
      display: block;
    }
    .receipe-container {
      display: none;
    }
    h2 {
      font-size: larger;
    }
  }
}
